<div class="col-box col-box-author">
  <img class="avatar" src="{{ site.avatar }}" alt="{{ site.author }}">
  <div class="col-box-title name">{{ site.author }}</div>
  <p>{{ site.profile }}</p>
  <p class="contact">
    {% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}">GitHub</a>
    {% endif %}
    {% if site.twitter_username %}
    <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
    {% endif %}
    {% if site.email %}
    <a href="mailto:{{ site.email }}">Email</a>
    {% endif %}
  </p>
</div>

<div class="col-box">
  <div class="col-box-title">Newest Posts</div>
  <ul class="post-list">
    {% for post in site.posts limit:5 %}
      <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="col-box">
  <div class="col-box-title">Friendly Link</div>
  <ul class="post-list">
    <li><a class="post-link" href="http://mytrix.me/">MatheMatrix[PG]'s blog'</a></li>
    <li><a class="post-link" href="http://blog.coderzh.com/">CoderZH Blog</a></li>
    <li><a class="post-link" href="http://way4ever.com/">Way Forever</a></li>
    <li><a class="post-link" href="http://www.wklken.me/">wklken</a></li>
    <li><a class="post-link" href="http://bingotree.cn/">BINGOTREE</a></li>
    <li><a class="post-link" href="http://adam.younglogic.com/">Adam Young’s Bloe</a></li>
    <li><a class="post-link" href="http://seanlook.com/">Sean's Notes</a></li>
    <li><a class="post-link" href="http://wsfdl.com/">koala bear</a></li>
    <li><a class="post-link" href="http://www.biaodianfu.com/">标点符</a></li>
  </ul>
</div>

<div class="col-box post-toc hide">
  <div class="col-box-title">TOC</div>
</div>
